*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    margin: 15px;  
         
}      

a{   
    text-decoration: none;
    color:cornsilk;   
    padding: 5px 10px;   
    background-color: rgba(113, 56, 124,0.7);      
    border-radius: 5px;
}

body{
    background-color: cornflowerblue;
    color: cornsilk;   
       
   
             
}      
   
body,header,footer{
    display: flex;      
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
   
   
